.container {
  position: relative;
  margin: 1rem 0;
  font-family: inherit;
}

/* O input */
.input {
  width: 100%;
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  font-size: 20px;
  background: transparent;
  outline: none;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: #000000;
}

/* O label */
.label {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-size: 1rem;
  pointer-events: none;
  background-color: white;
  padding: 0 10px;
  transition:
    transform 0.2s ease-out,
    font-size 0.2s ease-out,
    color 0.2s ease-out,
    top 0.2s ease-out;
}

/* Quando o container estiver preenchido ou focado */
.filled .label {
  top: 0.3rem;
  transform: translateY(-0.7rem) scale(1);
  font-size: 15px;
  color: #000000;
}
