.cardConteiner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  border-radius: 16px;
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.balanceConteiner {
  display: flex;
  gap: 10px;
}

.balance, .expiration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  gap: 5px;
}

.balanceLabel, .expLabel {
  font-size: 0.7rem;
  color: #666;
}

.balanceValue {
  font-size: 1.5rem;
  font-weight: 700;
}

.expValue {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.footer {
  text-align: center;
}

.button {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #F0F0F0;
  border: 1px solid #D9D9D9;
  border-radius: 50px;
  white-space: nowrap;
}

.button:hover {
  background-color: #dfdfdf;
}

.loading, .error {
  text-align: center;
  color: #666;
}
