/* src/components/AddressManager/AddressManager.module.css */

.list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.list li {
  background-color: #f0f0f0;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.loading {
  background-color: #f0f0f0;
  padding: 0.75rem;
  border-radius: 4px;
  margin: 0.5rem 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  flex: 1;
  margin-right: 1rem;
}

.buttonCancel {  
  color: #FF4C00;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.buttonCancel:hover {
  text-decoration: underline;
}

.button {
  background-color: #FF4C00;
  padding: 7px;
  border-radius: 5px;
  color: white;
}

.button:hover {
  text-decoration: underline;
}

.buttonSelected {
  background-color: #FFA600;
}