.detail {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;  
  width: 100%;
  margin-top: 10px;
}

.inactive {
  filter: grayscale(100%);
  opacity: 0.9;
}


.companyCard {
   display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.companyLogo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #FFA600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
}

.companyInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.companyInfo div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.companyButton, .exploreMap {
  font-size: 15px;
  padding: 10px 20px;
  background-color: #F0F0F0;
  border: 1px solid #D9D9D9;
  border-radius: 50px;
  white-space: nowrap;
}

.companyButton:hover {
  background-color: #dfdfdf;
}

.infoGrid {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.mapContainer {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}


.logoMarker {
  width: 50px;
  height: 50px;
  background-color: #FFA600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 2px solid #fff;
}

.logoMarker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.outsideBanner {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffeeba;
  border: 1px solid #f5c26b;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1000;
}


@media (max-width: 767px) {

.companyLogo {
  width: 90px;
  height: 90px;
}    
 
}